<div class="cover-user-index">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <h1 class="font-weight-normal">フォロー一覧</h1>
    </div>
    <p class="mb-3"><%= link_to "掲示板一覧へ戻る", board_posts_path, class: "btn btn-outline-secondary" %></p>
    <%= render 'index', users: @users %>
  </div>
</div>