h1 {
    font-family: serif;
  }
    
  .form-label {
    font-size: 20px;
  }
  
  .form-group {
    width: 600px;
  }

  
  .one-post img:hover {
    transform: scale(1.2,1.2);
  }
  
  .caption {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  
  .index-left {
    margin-left: 2.5rem!important;
  }

  #text {
    font-size: 18px;
  }

  .page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}

.current {
  font-weight: bold;
}

.comments-index {
  background-color: #fff;
  border: 1px #000 solid;
}

.comment-delete {
  margin-left: auto;
}

.comments {
  margin-left: 50px;
}

.caption {
  margin-bottom: 0;
}

.favorite_btn {
  color: #000;
}